body{
	margin : 0;
	padding: 0;
	word-spacing: 1px;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: 500;
	letter-spacing: 1px
}
.bg_image{
	position: fixed;
	width: 1520px;
}
.header{
	font-family: 'Brush Script MT' , sans-serif;
	position : relative;
	background-color: black;
	padding: 2%;
	width: 68.4%;
	padding-left: 450px;
	word-spacing: 200px;
	color: white;
}
.header_elt{
	letter-spacing: 3px;
	transition: 0.5s ease;
	cursor: pointer;
}
.header_elt:hover{
	letter-spacing: 7px;
}
.main{
	position: relative;
	margin :15%;
	margin-left: 30%;
}
.intro{
	text-align: left;
}
.image{
	display: block;
	width: 250px;
	height: 300px;
	border-radius: 2em;
}
.button{
	background-color: #CD853F;
	margin-top: 30px;
	margin-left: 200px;
	width: 30%;
	height: 50px;
	border-radius: 2em;
	border: 2px solid #CD853F ;
  	transition:  0.3s ease ;
  	cursor: pointer;
  	outline: none;
}
.button:hover{
	background-color: #3700FF;
	transform: translateY(-7px);
	border : 0;
}
.textinbutton{
	word-spacing: 1px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 1px
}
.created{
	position: relative;
	text-align: center;
}
.footage{
	color: white;
	padding: 4%;
	text-align: center;
	word-spacing: 10px;
	background-color: black;
	position: relative;

}